<!DOCTYPE html>
<html>

<head>
    <title>TeamViewer</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="icon" href="/compass.png">
</head>

<body>
    <img src="/compass.png" class="logo">
    <h1 class="title">TeamViewer</h1>
    <div class="titl">
        <h2>What is this?</h2>
        <p>This is a app built with node.js to help organise groups!</p>
    </div>
    <% var today = String(parseInt(date.getMonth())+1)+'-'+date.getDate()+'-'+date.getFullYear(); %>
    <h1 class="date">Date: <%= today %></h1>
    <% if (places.person1=="Foster City") { %>
    <div style="background-color:green;" class="card">
    <% } else if (places.person1=="Pleasanton") { %>
        <div style="background-color:royalblue;" class="card">
    <% } else if (places.person1=="Home") { %>
        <div style="background-color:brown;" class="card">
    <% } else { %>
        <div class="card">
            <% } %>
        <h1>Person1</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person1 %> </p>
        <h3>Change Place</h3>
        <form action="/change1" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="0">Home</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <% if (places.person2=="Foster City") { %>
    <div style="background-color:green;" class="card">
    <% } else if (places.person2=="Pleasanton") { %>
        <div style="background-color:royalblue;" class="card">
    <% } else if (places.person2=="Home") { %>
        <div style="background-color:brown;" class="card">
    <% } else { %>
        <div class="card">
            <% } %>
        <h1>Person2</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person2 %> </p>
        <h3>Change Place</h3>
        <form action="/change2" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="0">Home</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <% if (places.person3=="Foster City") { %>
    <div style="background-color:green;" class="card">
    <% } else if (places.person3=="Pleasanton") { %>
        <div style="background-color:royalblue;" class="card">
    <% } else if (places.person3=="Home") { %>
        <div style="background-color:brown;" class="card">
    <% } else { %>
        <div class="card">
            <% } %>
        <h1>Person3</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person3 %> </p>
        <h3>Change Place</h3>
        <form action="/change3" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="0">Home</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <% if (places.person4=="Foster City") { %>
    <div style="background-color:green;" class="card">
    <% } else if (places.person4=="Pleasanton") { %>
        <div style="background-color:royalblue;" class="card">
    <% } else if (places.person4=="Home") { %>
        <div style="background-color:brown;" class="card">
    <% } else { %>
        <div class="card">
            <% } %>
        <h1>Person4</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person4 %> </p>
        <h3>Change Place</h3>
        <form action="/change4" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="0">Home</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <% if (places.person5=="Foster City") { %>
    <div style="background-color:green;" class="card">
    <% } else if (places.person5=="Pleasanton") { %>
        <div style="background-color:royalblue;" class="card">
    <% } else if (places.person5=="Home") { %>
        <div style="background-color:brown;" class="card">
    <% } else { %>
        <div class="card">
            <% } %>
        <h1>Person5</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person5 %> </p>
        <h3>Change Place</h3>
        <form action="/change5" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="0">Home</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <% if (places.person6=="Foster City") { %>
    <div style="background-color:green;" class="card">
    <% } else if (places.person6=="Pleasanton") { %>
        <div style="background-color:royalblue;" class="card">
    <% } else if (places.person6=="Home") { %>
        <div style="background-color:brown;" class="card">
    <% } else { %>
        <div class="card">
            <% } %>
        <h1>Person6</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person6 %> </p>
        <h3>Change Place</h3>
        <form action="/change6" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="0">Home</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <% if (places.person7=="Foster City") { %>
    <div style="background-color:green;" class="card">
    <% } else if (places.person7=="Pleasanton") { %>
        <div style="background-color:royalblue;" class="card">
    <% } else if (places.person7=="Home") { %>
        <div style="background-color:brown;" class="card">
    <% } else { %>
        <div class="card">
            <% } %>
        <h1>Person7</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person7 %> </p>
        <h3>Change Place</h3>
        <form action="/change7" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="0">Home</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <% if (places.person8=="Foster City") { %>
    <div style="background-color:green;" class="card">
    <% } else if (places.person8=="Pleasanton") { %>
        <div style="background-color:royalblue;" class="card">
    <% } else if (places.person8=="Home") { %>
        <div style="background-color:brown;" class="card">
    <% } else { %>
        <div class="card">
            <% } %>
        <h1>Person8</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person8 %> </p>
        <h3>Change Place</h3>
        <form action="/change8" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="0">Home</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <% if (places.person9=="Foster City") { %>
    <div style="background-color:green;" class="card">
    <% } else if (places.person9=="Pleasanton") { %>
        <div style="background-color:royalblue;" class="card">
    <% } else if (places.person9=="Home") { %>
        <div style="background-color:brown;" class="card">
    <% } else { %>
        <div class="card">
            <% } %>
        <h1>Person9</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person9 %> </p>
        <h3>Change Place</h3>
        <form action="/change9" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="0">Home</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <% if (places.person10=="Foster City") { %>
    <div style="background-color:green;" class="card">
    <% } else if (places.person10=="Pleasanton") { %>
        <div style="background-color:royalblue;" class="card">
    <% } else if (places.person10=="Home") { %>
        <div style="background-color:brown;" class="card">
    <% } else { %>
        <div class="card">
            <% } %>
        <h1>Person10</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person10 %> </p>
        <h3>Change Place</h3>
        <form action="/change10" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="0">Home</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <% if (places.person11=="Foster City") { %>
    <div style="background-color:green;" class="card">
    <% } else if (places.person11=="Pleasanton") { %>
        <div style="background-color:royalblue;" class="card">
    <% } else if (places.person11=="Home") { %>
        <div style="background-color:brown;" class="card">
    <% } else { %>
        <div class="card">
            <% } %>
        <h1>Person11</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person11 %> </p>
        <h3>Change Place</h3>
        <form action="/change11" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="0">Home</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <% if (places.person12=="Foster City") { %>
    <div style="background-color:green;" class="card">
    <% } else if (places.person12=="Pleasanton") { %>
        <div style="background-color:royalblue;" class="card">
    <% } else if (places.person12=="Home") { %>
        <div style="background-color:brown;" class="card">
    <% } else { %>
        <div class="card">
            <% } %>
        <h1>Person12</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person12 %> </p>
        <h3>Change Place</h3>
        <form action="/change12" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="0">Home</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <% if (places.person13=="Foster City") { %>
    <div style="background-color:green;" class="card">
    <% } else if (places.person13=="Pleasanton") { %>
        <div style="background-color:royalblue;" class="card">
    <% } else if (places.person13=="Home") { %>
        <div style="background-color:brown;" class="card">
    <% } else { %>
        <div class="card">
            <% } %>
        <h1>Person13</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person13 %> </p>
        <h3>Change Place</h3>
        <form action="/change13" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="0">Home</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
     <% if (places.person14=="Foster City") { %>
    <div style="background-color:green;" class="card">
    <% } else if (places.person14=="Pleasanton") { %>
        <div style="background-color:royalblue;" class="card">
    <% } else if (places.person14=="Home") { %>
        <div style="background-color:brown;" class="card">
    <% } else { %>
        <div class="card">
            <% } %>
        <h1>Person14</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person14 %> </p>
        <h3>Change Place</h3>
        <form action="/change14" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="0">Home</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
</body>
</html>
