<!DOCTYPE html>
<html>

<head>
    <title>TeamViewer</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="icon" href="/compass.png">
</head>

<body>
    <img src="/compass.png" class="logo">
    <h1 class="title">TeamViewer</h1>
    <div class="titl">
        <h2>What is this?</h2>
        <p>This is a app built with node.js to help organise groups!</p>
    </div>
    <% var today = date.getMonth()+'-'+date.getDay()+'-'+date.getFullYear(); %>
    <h1 class="date">Date: <%= today %></h1>
    <div class="card">
        <h1>Gavin Choy</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person1 %> </p>
        <h3>Change Place</h3>
        <form action="/change1" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <div class="card">
        <h1>Guo-Liang Yu</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person2 %> </p>
        <h3>Change Place</h3>
        <form action="/change2" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <div class="card">
        <h1>Sanjeev Redkar</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person3 %> </p>
        <h3>Change Place</h3>
        <form action="/change3" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <div class="card">
        <h1>Mamatha Reddy</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person4 %> </p>
        <h3>Change Place</h3>
        <form action="/change4" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <div class="card">
        <h1>Shelly McCurry</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person5 %> </p>
        <h3>Change Place</h3>
        <form action="/change5" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <div class="card">
        <h1>Debra Vallner</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person6 %> </p>
        <h3>Change Place</h3>
        <form action="/change6" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <div class="card">
        <h1>Lenilyn Esperitu</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person7 %> </p>
        <h3>Change Place</h3>
        <form action="/change7" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <div class="card">
        <h1>Sandra Pajarillo</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person8 %> </p>
        <h3>Change Place</h3>
        <form action="/change8" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <div class="card">
        <h1>Joe Prokop</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person9 %> </p>
        <h3>Change Place</h3>
        <form action="/change9" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <div class="card">
        <h1>Liz Bergen</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person10 %> </p>
        <h3>Change Place</h3>
        <form action="/change10" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <div class="card">
        <h1>Wilson Cheung</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person11 %> </p>
        <h3>Change Place</h3>
        <form action="/change11" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
    <div class="card">
        <h1>Raymond Low</h1>
        <h3>Place</h3>
        <p class="where"> <%= places.person12 %> </p>
        <h3>Change Place</h3>
        <form action="/change12" method="POST">
            <select name="place1">
                <option value="">Please select...</option>
                <option value="1">Pleasanton</option>
                <option value="2">Foster City</option>
                <option value="3">Other</option>
            </select>
            <input type="submit">
        </form>
    </div>
</body>
</html>